body {
  background-color: #ffa500;
  background-image: url('img/Bg-l.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: content-box;
  background-size: cover;
  background-position: center;
  line-height: 1;
  padding: 0;
  margin: 0 auto;
  max-width: 100%
  border: none;
  font-family: sans-serif;
}
.div {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20% 0 20% 15%;
  padding: 6.5% 0;
  border-radius: 15%;
  color: #fff;
  font: 1.5em "Lucida Sans Unicode";
  width: 40%;
}
footer {
  text-align: right;
  color: #000;
  padding-right: 2%;
}
.browse-btn {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 0.5em;
  color: #fff;
  font-size: 0.5em;
  vertical-align: middle;
  padding: 5px;
}
.browse-btn:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.genres {
  background-color: #000;
  display: none;
  position: absolute;
  overflow: auto;
  border: 1px solid #fff;
  border-radius: 0.5em;
  color: #fff;
  font-size: 0.5em;
  min-width: 150px;
  max-height: 200px;
  padding: 5px 10px;
}
.genres::-webkit-scrollbar {
  width: 3px;
}
.genres::-webkit-scrollbar-track {
  background: #000;
}
.genres::-webkit-scrollbar-thumb {
  background: #fff; 
}
.genres::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}

.genres::scrollbar {
  -moz-width: 3px;
}
.genres::scrollbar-track {
  -moz-background: #000;
}
.genres::scrollbar-thumb {
  -moz-background: #fff; 
}
.genres::scrollbar-thumb:hover {
  -moz-background: #aaa; 
}

.genres a {
  color: #fff;
  text-decoration: none;
  display: block;
  border-bottom: 1px solid #333;
  padding: 10px 0;
}
.genres a:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  border-bottom: 1px solid #333;
}
.show {
  display: block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
input[type=search] {
  background-color: #000;
  color: #fff;
  border-radius: 0.5em 0 0 0.5em;
  border: 1px solid #fff;
  padding: 0.5em 1.2em 0.5em 0.8em;
  font-size: 0.5em;
  width: 50%;
}
input[type=search]:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
form button {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5em 1.2em 0.5em 0.8em;
  font-size: 0.5em;
  border-radius: 0 0.5em 0.5em 0;
  position: relative;
  right: 0.7em;
  z-index: 1;
}
form button:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

@media all and (max-width: 1024px) {
  .div {
    font-size: 1.7em;
    width: 45%;
  }
}

@media all and (max-width: 768px) {
  body {
    background-color: #0a1010;
    background-image: url('img/Bg-s.jpg');
  }
  .div {
    background-color: rgba(255, 255, 255, 0.2);
    width: 90%;
    margin: 5%;
    font-size: 2em;
  }
  footer {
    color: #555;
  }
}